body{
  background: #fff;
  font-family: Lato,sans-serif!important;
  margin: 0!important;
  padding: 0!important;
  width: 100%;
  display: block;
  color: #494e61;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: 40px;
  line-height: 82px;
  color: #e5f0f0;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
  @include media-breakpoint-up(lg){
    font-size: 60px;
  }
}
h2 {
  font-size: 30px;
  line-height: 36px;
  color: #e4dbcc;
}
h3{
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 25px;
  color: #936d33;
}
.py-6{
  padding-top: 75px;
  padding-bottom: 75px;
}
.full-img{
  img{
    width: 100%;
    object-fit: cover;
  }
}
.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg-brand-light{
  background: #e4dbcc;
}
.bg-brand-dark{
  background: #202117;
  p{
    color: #e5f0f0;
    font-size: 14px;
    line-height: 24px;
  }
}
.wind{
  max-width: 85px;
}
.slick-next, .slick-prev{
  z-index: 1;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 30px;
    height: 30px;
    border-left: 2px solid #FFF;
    border-top: 2px solid #FFF;
  }
}

.slick-prev {
  left: 40px;
  &:before {
    transform: rotate(-45deg);
  }
}
.slick-next{
  right: 40px;
  &:before{
    transform: rotate(135deg);
  }
}