.feature-image{
  width: 100%;
  background: #4a4a4a url("../../assets/images/MCDS_Web_Residences_hero2.jpg") no-repeat;
  background-size: cover!important;
  position: relative;
  min-height: 500px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.living-room{
  img{
    width: 100%;
    object-fit: cover;
  }
}
#slider{
  margin-bottom: -6px;
  img{
    width: 100%;
    object-fit: cover;
  }
}
.specifications{
  h2{
    color: #936d33;
    font-weight: 300;
  }
  p{
    font-size: 14px;
    line-height: 24px;
    color: #202117;
  }
  h4, h6{
    color: #936d33;
    font-weight: 300;
  }
  h6{
    font-weight: 500;
  }
  span{
    color: #936d33;
  }
  .sep{
    margin: 0 15px;
  }
}